.flex-item {
}

.container {
    margin: auto;
    height:1445px;
	
}
/* ul li {
    margin:auto;
} */
/* ul {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	justify-content: space-around;
} */
.items ul {
    display:flex;
    list-style: none;
    justify-content: flex-end;
}
li {
	border: 1px #ccc solid;
	width: 20%;
	padding: 1em;
	/* padding: 10px; */
}
