@import url('https://fonts.google.com/specimen/Spartan');
body {
	margin: 10%;
	font-family: 'Spartan', sans-serif;
}
.flex-container {
	display: flex;
	height: 300px;
}
.flex-container > div {
	width: 200px;
	border: 1px #ccc solid;
	padding: 1em;
}
